{% extends 'base.admin.html.twig' %}

{% block title %}Admin{% endblock %}

{% block body %}
<div style="padding-top: 8em;">
    <h1 class="text-center">Bienvenue dans l'administration de Burger King</h1>
</div>
{% endblock %}
