{% extends 'base.admin.html.twig' %}

{% block title %}Admin{% endblock %}

{% block body %}
<div style="padding-top: 8em;">
    <h1 class="text-warning">Create new Review</h1>

    {{ include('review/_form.html.twig') }}

    <a href="{{ path('review_index') }}">back to list</a>
</div>
{% endblock %}
