{% extends 'base.admin.html.twig' %}

{% block title %}Admin{% endblock %}

{% block body %}
<div style="padding-top: 8em;">
    <h1 class="text-warning">Create new Blog</h1>

    {{ include('blog/_form.html.twig') }}

    <a href="{{ path('blog_index') }}">back to list</a>
</div>
{% endblock %}
