{% extends 'base.admin.html.twig' %}

{% block title %}Admin{% endblock %}

{% block body %}
<div style="padding-top: 8em;">
    <h1 class="text-warning">Create new Chef</h1>

    {{ include('chef/_form.html.twig') }}

    <a href="{{ path('chef_index') }}">back to list</a>
</div>
{% endblock %}
